version: "3"

services:
  wiki:
    image: mediawiki:1.36
    restart: always
    env_file:
      - .env
    volumes:
      # uploads
      - wiki-upload:/var/www/html/images
      # extensions
      # - ./mediawiki/extensions/extension-name:${MW_INSTALL_PATH}/extensions/extension-name
      # skins
      #- ./mediaiwki/skins/skin-name:${MW_INSTALL_PATH}/skins/skin-name
      # settings
      - ./mediawiki/settings:${MW_INSTALL_PATH}/settings
      - ./mediawiki/LocalSettings.php:${MW_INSTALL_PATH}/LocalSettings.php
      # apache
      - ./mediawiki/.htaccess:${MW_INSTALL_PATH}/.htaccess
      # robots
      - ./mediawiki/robots.txt:${MW_INSTALL_PATH}/robots.txt
    labels:
      - traefik.enable=true
      - traefik.http.routers.mediawiki.rule=Host(`${MW_HOST}`)
      - traefik.http.routers.mediawiki.entrypoints=websecure
      - traefik.http.routers.mediawiki.tls=true
      - traefik.http.routers.mediawiki.tls.certresolver=myresolver
    networks:
      - frontend
      - backend
      - ipv6

  database:
    image: mariadb
    restart: always
    environment:
      # @see https://phabricator.wikimedia.org/source/mediawiki/browse/master/includes/DefaultSettings.php
      MYSQL_DATABASE: mediawiki
      MYSQL_USER: mediawiki
      MYSQL_PASSWORD: mediawiki
      MYSQL_ROOT_PASSWORD: mediawiki
    volumes:
      - wiki-data:/var/lib/mysql
    networks:
      - backend

  reverse-proxy:
    image: traefik:latest
    restart: always
    ports:
      - 80:80
      - 443:443
    environment:
      TRAEFIK_PROVIDERS_DOCKER: "true"
      TRAEFIK_PROVIDERS_DOCKER_EXPOSEDBYDEFAULT: "false"
      TRAEFIK_PROVIDERS_DOCKER_NETWORK: wiki_frontend
      TRAEFIK_ENTRYPOINTS_web_ADDRESS: :80
      TRAEFIK_ENTRYPOINTS_websecure_ADDRESS: :443
      TRAEFIK_CERTIFICATESRESOLVERS_myresolver_ACME_TLSCHALLENGE: "true"
      TRAEFIK_CERTIFICATESRESOLVERS_myresolver_ACME_EMAIL: ${ACME_EMAIL}
      TRAEFIK_CERTIFICATESRESOLVERS_myresolver_ACME_STORAGE: /etc/traefik/acme/acme.json
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - acme:/etc/traefik/acme
    networks:
      - frontend

  manager:
    image: ubuntu:latest
    profiles:
      - manager
    volumes:
      - wiki-data:/var/mediawiki/database
      - wiki-upload:/var/mediawiki/upload
      - ./backups:/var/mybackups

networks:
  frontend:
    name: wiki_frontend
  backend:
    name: wiki_backend
  ipv6:
    name: wiki_ipv6
    enable_ipv6: true
    ipam:
      config:
        - subnet: fd00:dead:beef::/48

volumes:
  wiki-data:
  wiki-upload:
  acme:
