version: "3"

services:
  mediawiki:
    build:
      context: ./mediawiki
    restart: always
    environment:
      MW_INSTALL_PATH:
      WIKI_NAME:
      WIKI_HOST:
      WIKI_SMTP_HOST:
      WIKI_SMPT_PORT:
      WIKI_SMTP_USERNAME:
      WIKI_SMTP_PASSWORD:
      WIKI_DATABASE_HOST:
      WIKI_DATABASE_NAME:
      WIKI_DATABASE_USER:
      WIKI_DATABASE_PASSWORD:
    volumes:
      # uploads
      - wiki-upload:/var/www/html/images
      # extensions
      # - ./mediawiki/extensions/extension-name:${MW_INSTALL_PATH}/extensions/extension-name
      # skins
      #- ./mediaiwki/skins/skin-name:${MW_INSTALL_PATH}/skins/skin-name
      # settings
      - ./mediawiki/settings:${MW_INSTALL_PATH}/settings
      - ./mediawiki/LocalSettings.php:${MW_INSTALL_PATH}/LocalSettings.php
      # apache
      - ./mediawiki/.htaccess:${MW_INSTALL_PATH}/.htaccess
      # robots
      - ./mediawiki/robots.txt:${MW_INSTALL_PATH}/robots.txt
    labels:
      traefik.enable: "true"
      traefik.http.routers.wiki-secure.rule: Host(`${WIKI_HOST}`)
      traefik.http.routers.wiki-secure.entrypoints: websecure
      traefik.http.routers.wiki-secure.tls: "true"
      traefik.http.routers.wiki-secure.tls.certresolver: letsencrypt
      traefik.http.routers.wiki.rule: Host(`${WIKI_HOST}`)
      traefik.http.routers.wiki.entrypoints: web
      traefik.http.middlewares.wiki.redirectscheme.scheme: https
    networks:
      - frontend
      - backend
    #  - ipv6
    extra_hosts: 
      - ${WIKI_HOST}:host-gateway

  database:
    image: mariadb
    restart: always
    environment:
      # @see https://phabricator.wikimedia.org/source/mediawiki/browse/master/includes/DefaultSettings.php
      MYSQL_DATABASE: ${WIKI_DATABASE_NAME}
      MYSQL_USER: ${WIKI_DATABASE_USER}
      MYSQL_PASSWORD: ${WIKI_DATABASE_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${WIKI_DATABASE_ROOT_PASSWORD}
    volumes:
      - wiki-data:/var/lib/mysql
    networks:
      - backend

  cache-redis:
    image: redis:alpine
    restart: always
    volumes:
      - redis-data:/data
      - ./redis:/var/redis
    command:
      - /var/redis/redis.conf
    networks:
      - backend

  reverse-proxy:
    image: traefik:latest
    restart: always
    ports:
      - 80:80
      - 443:443
    environment:
      TRAEFIK_PROVIDERS_DOCKER: "true"
      TRAEFIK_PROVIDERS_DOCKER_EXPOSEDBYDEFAULT: "false"
      TRAEFIK_PROVIDERS_DOCKER_NETWORK: wiki_frontend
      TRAEFIK_ENTRYPOINTS_web_ADDRESS: :80
      TRAEFIK_ENTRYPOINTS_websecure_ADDRESS: :443
      TRAEFIK_CERTIFICATESRESOLVERS_letsencrypt_ACME_TLSCHALLENGE: "true"
      TRAEFIK_CERTIFICATESRESOLVERS_letsencrypt_ACME_EMAIL: ${ACME_EMAIL}
      TRAEFIK_CERTIFICATESRESOLVERS_letsencrypt_ACME_STORAGE: /etc/traefik/acme/acme.json
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - acme-data:/etc/traefik/acme
    networks:
      - frontend

networks:
  frontend:
    name: wiki_frontend
  backend:
  ipv6:
    enable_ipv6: true
    ipam:
      config:
        - subnet: fd00:dead:beef::/48

volumes:
  wiki-data:
  wiki-upload:
  acme-data:
  redis-data:
