version: "3"

services:
  mediawiki:
    build:
      context: ./mediawiki
    restart: always
    environment:
      MW_INSTALL_PATH:
      WIKI_NAME:
      WIKI_HOST:
      WIKI_PASSWORD_SENDER_EMAIL:
      WIKI_EMERGENCY_CONTACT_EMAIL:
      WIKI_SMTP_HOST:
      WIKI_SMTP_PORT:
      WIKI_SMTP_AUTH:
      WIKI_SMTP_USERNAME:
      WIKI_SMTP_PASSWORD:
      WIKI_DATABASE_HOST:
      WIKI_DATABASE_NAME:
      WIKI_DATABASE_USER:
      WIKI_DATABASE_PASSWORD:
    # maintain scritp must run with database,
    # so we don't put it under the dockerfile
    entrypoint: ["/entry.sh"]
    command: apache2-foreground
    volumes:
      - ./mediawiki/docker-entrypoint.sh:/entry.sh
      - ./mediawiki/maintenance:/maintenance
      # uploads
      - wiki-upload:/var/www/html/images
      # settings
      - ./mediawiki/settings:${MW_INSTALL_PATH}/settings
      # apache
      - ./mediawiki/.htaccess:${MW_INSTALL_PATH}/.htaccess
      # robots
      - ./mediawiki/robots.txt:${MW_INSTALL_PATH}/robots.txt
      # favicon
      - ./mediawiki/favicon.ico:${MW_INSTALL_PATH}/favicon.ico
    labels:
      traefik.enable: "true"
      traefik.http.routers.wiki-secure.rule: Host(`${WIKI_HOST}`)
      traefik.http.routers.wiki-secure.entrypoints: websecure
      traefik.http.routers.wiki-secure.tls: "true"
      traefik.http.routers.wiki-secure.tls.certresolver: letsencrypt
      traefik.http.routers.wiki.rule: Host(`${WIKI_HOST}`)
      traefik.http.routers.wiki.entrypoints: web
      traefik.http.middlewares.wiki.redirectscheme.scheme: https
    networks:
      - frontend
      - backend
    #  - ipv6
    extra_hosts:
      - ${WIKI_HOST}:host-gateway
    depends_on:
      - db-mariadb
      - db-redis

  db-mariadb:
    image: mariadb
    restart: always
    environment:
      # @see https://phabricator.wikimedia.org/source/mediawiki/browse/master/includes/DefaultSettings.php
      MYSQL_DATABASE: ${WIKI_DATABASE_NAME}
      MYSQL_USER: ${WIKI_DATABASE_USER}
      MYSQL_PASSWORD: ${WIKI_DATABASE_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${WIKI_DATABASE_ROOT_PASSWORD}
    volumes:
      - wiki-data:/var/lib/mysql
      - wiki-data-dump:/docker-entrypoint-initdb.d
    networks:
      - backend

  db-redis:
    image: redis:alpine
    restart: always
    volumes:
      - redis-data:/data
      - ./redis/conf:/usr/local/etc/redis
    command:
      - /usr/local/etc/redis/redis.conf
    networks:
      - backend

  overcommit:
    profiles:
      - overcommit
    build:
      context: ./overcommit
    restart: "no"
    privileged: true
    volumes:
      - /proc/sys/vm:/mnt/vm

  traefik:
    image: traefik:latest
    restart: always
    ports:
      - 80:80
      - 443:443
    environment:
      TRAEFIK_PROVIDERS_DOCKER: "true"
      TRAEFIK_PROVIDERS_DOCKER_EXPOSEDBYDEFAULT: "false"
      TRAEFIK_PROVIDERS_DOCKER_NETWORK: wiki_frontend
      TRAEFIK_ENTRYPOINTS_web_ADDRESS: :80
      TRAEFIK_ENTRYPOINTS_websecure_ADDRESS: :443
      TRAEFIK_CERTIFICATESRESOLVERS_letsencrypt_ACME_TLSCHALLENGE: "true"
      TRAEFIK_CERTIFICATESRESOLVERS_letsencrypt_ACME_EMAIL: ${ACME_EMAIL}
      TRAEFIK_CERTIFICATESRESOLVERS_letsencrypt_ACME_STORAGE: /etc/traefik/acme/acme.json
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - acme-data:/etc/traefik/acme
    networks:
      - frontend

  tool-restic:
    profiles:
      - backup
    build:
      context: ./restic
    hostname: restic
    environment:
      RESTIC_REPOSITORY:
      RESTIC_PASSWORD:
      AWS_ACCESS_KEY_ID:
      AWS_SECRET_ACCESS_KEY:
      AWS_DEFAULT_REGION:
      RESTIC_TAG: ${RESTIC_TAG}
      RESTIC_FORGET_ARGS: ${RESTIC_FORGET_ARGS}
      RESTIC_JOB_ARGS: ${RESTIC_JOB_ARGS}
      BACKUP_CRON: ${BACKUP_CRON}
      BACKUP_DATABASE_HOST: db-mariadb
      BACKUP_DATABASE_USER: root
      BACKUP_DATABASE_PASSWORD: ${WIKI_DATABASE_ROOT_PASSWORD}
      BACKUP_DATABASE_NAME: ${WIKI_DATABASE_NAME}
    volumes:
      - wiki-upload:/data/upload
      - wiki-data-dump:/data/database
      - ./restic/hooks:/hooks
    networks:
      - backend

networks:
  frontend:
    name: wiki_frontend
  backend:
  ipv6:
    enable_ipv6: true
    ipam:
      config:
        - subnet: fd00:dead:beef::/48

volumes:
  wiki-data:
  wiki-data-dump:
  wiki-upload:
  acme-data:
  redis-data:
